@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/color.variables";
@import "./../../../assets/scss/font.variables";
@import "./../../../assets/scss/breakpoints.variables";

.#{$gridBoxesHeaderName} {
  align-items: center;

  @include breakpoint(tablet) {
    display: flex;
  }

  &-left {
    justify-content: start;
    width: 100%;
    text-align: center;

    @include breakpoint(tablet) {
      text-align: left;
      padding-left: 5%;
      width: 50%;
    }

    span {
      font-size: $fontLargeSizeXL;
      color: $fontColorWhite;

      @include breakpoint(tablet) {
        font-size: $fontHeaderSize;
      }
    }

    p {
      font-size: $fontDefaultSize;
      color: $fontColorWhite;
      font-weight: bolder;
    }
  }

  &-right {
    width: 100%;
    justify-content: end;
    text-align: center;
    height: 100%;
    padding-right: 5%;
    margin-top: 50px;

    @include breakpoint(tablet) {
      margin-top: 0;
      width: 40%;
      text-align: right;
    }

    img {
      width: 50%;

      @include breakpoint(tablet) {
        width: 100%;
      }
    }
  }
}
