@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/color.variables";
@import "./../../../assets/scss/font.variables";

.#{$gridBoxesHeaderName} {
  display: flex;
  align-items: center;

  &-left {
    justify-content: start;
    padding-left: 5%;
    width: 50%;

    span {
      font-size: $fontHeaderSize;
      color: $fontColorWhite;
    }

    p {
      font-size: $fontDefaultSize;
      color: $fontColorWhite;
      font-weight: bolder;
    }
  }

  &-right {
    width: 40%;
    justify-content: end;
    text-align: right;
    height: 100%;
    padding-right: 5%;

    img {
      width: 100%;
    }
  }
}
