$colorButtonPurple: #bb86fc;

$colorTextPurple: #5a1fecff;

$colorWhite: #FFF;
$colorDarkPurple: #14043A;
$colorPurple: #210b70ff;
$colorLightPurple: #3813a0ff;
$colorSoftPurple: #4a16bb;

$colorFAQPage: #571aecff;