$gridHomeMenuName: 'home-menu';
$gridHomeHeaderName: 'home-header';
$gridHomeStakeName: 'home-stake';
$gridHomeInfoName: 'home-info';
$gridHomeExplainName: 'home-explain';
$gridHomeHowWorksName: 'home-how-works';
$gridHomeFAQName: 'home-faq';
$gridHomeFooterName: 'home-footer';