@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/color.variables";
@import "./../../../assets/scss/font.variables";
@import "./../../../assets/scss/breakpoints.variables";

.#{$gridBoxesListName} {
  text-align: center;

  &-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;

    @include breakpoint(tablet) {
      display: flex;
    }

    &-container {
      text-align: left;
      width: 90%;
      margin: auto;
      padding-bottom: 20px;

      @include breakpoint(tablet) {
        width: 23%;
        margin: 0 2% 25px 0;
        padding-bottom: unset;
      }
    }
  }

  &-table-wrapper {
    margin-top: 100px;
    background-color: $colorSoftPurple;
    padding: 40px;
    font-size: $fontMediumSize;

    table {
      color: $colorWhite;
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          th:first-child {
            text-align: left;
          }

          th {
            text-align: center;
          }
        }
      }

      tbody {
        font-weight: bolder;
        font-size: $fontDefaultSize;

        tr {
          td:first-child {
            text-align: left;
          }

          td {
            padding-top: 25px;
            text-align: center;
            border-bottom: solid 1px $colorWhite;
          }
        }
      }
    }
  }
}
