@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/font.variables";
@import "./../../../assets/scss/breakpoints.variables";

.#{$gridHomeInfoName} {
  text-align: center;

  &-header {
    @include small-header;
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;

    &-container {
      margin: 5px auto;
      text-align: left;
      width: 90%;

      @include breakpoint(tablet) {
        width: unset;
        display: flex;
        flex: 1 0 calc(1/4*100% - (1 - 1/4)*20px);
        margin: 0 20px 0 0;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}
