@import "../../assets/scss/grid.variables";
@import "../../assets/scss/font.variables";

.#{$gridFooterName} {
  color: $fontColorWhite;
  font-size: $fontDefaultSize;

  &-wrapper {
    display: inline-flex;
    width: 100%;

    &-left {
      width: 50%;
      text-align: left;
    }

    &-right {
      display: inline-flex;
      justify-content: flex-end;
      width: 50%;

      a {
        margin-left: 25px;

        img {
          width: 40px;
        }
      }
    }
  }
}
