@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/color.variables";
@import "./../../../assets/scss/font.variables";
@import "./../../../assets/scss/breakpoints.variables";

.#{$gridHomeExplainName} {
  @include breakpoint(tablet) {
    display: flex;
  }

  &-left {
    display: none;

    @include breakpoint(tablet) {
      display: block;
      justify-content: flex-start;
      width: 40%;

      img {
        width: 100%;
      }
    }
  }

  &-right {
    width: 100%;
    padding-left: 20px;

    @include breakpoint(tablet) {
      padding-left: unset;
      width: 40%;
      margin-left: auto;
    }

    &-header {
      @include small-header;
      text-align: center;

      @include breakpoint(tablet) {
        text-align: unset;
        width: 40%;
      }
    }

    &-sub-header {
      @include medium-header;
    }

    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 0;
      }

      &-image {
        width: 8%;
        margin-right: 6%;
        justify-content: start;

        img {
          width: 100%;
        }
      }

      &-text {
        width: 85%;
        justify-content: end;

        p {
          margin: 0;
          color: $fontColorWhite;
          font-size: $fontMediumSize;
          line-height: 20px;
        }
      }
    }
  }
}
