@import "./../assets/scss/color.variables";
@import "./../assets/scss/grid.variables";
@import "./../assets/scss/breakpoints.variables";

#boxes-page {
    display: grid;
    width: 100%;
    grid-template-areas:
        '#{$gridMenuName}'
        '#{$gridBoxesHeaderName}'
        '#{$gridBoxesListName}'
        '#{$gridFooterName}';
}

#boxes-page > ##{$gridMenuName} {
    grid-area: #{$gridMenuName};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#boxes-page > ##{$gridBoxesHeaderName} {
    grid-area: #{$gridBoxesHeaderName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#boxes-page > ##{$gridBoxesListName} {
    grid-area: #{$gridBoxesListName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#boxes-page > ##{$gridFooterName} {
    grid-area: #{$gridFooterName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}