@import "./../assets/scss/color.variables";
@import "./../assets/scss/grid.variables";

$homePageMinWidth: 768px;
$homePageMaxWidth: 1140px;
$homeGridSpacing: 50px 0;

#home-page {
    display: grid;
    width: 100%;
    grid-template-areas:
        '#{$gridMenuName}'
        '#{$gridHomeHeaderName}'
        '#{$gridHomeStakeName}'
        '#{$gridHomeInfoName}'
        '#{$gridHomeExplainName}'
        '#{$gridHomeHowWorksName}'
        '#{$gridHomeFAQName}'
        '#{$gridFooterName}';
}

#home-page > ##{$gridMenuName} {
    grid-area: #{$gridMenuName};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeHeaderName} {
    grid-area: #{$gridHomeHeaderName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeStakeName} {
    grid-area: #{$gridHomeStakeName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeInfoName} {
    grid-area: #{$gridHomeInfoName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeExplainName} {
    grid-area: #{$gridHomeExplainName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeHowWorksName} {
    grid-area: #{$gridHomeHowWorksName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridHomeFAQName} {
    background-color: $colorFAQPage;
    grid-area: #{$gridHomeFAQName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}

#home-page > ##{$gridFooterName} {
    grid-area: #{$gridFooterName};
    margin: #{$homeGridSpacing};

    & > div {
        width: $homePageMaxWidth;
        margin: auto;
    }
}