@import "./../assets/scss/color.variables";
@import "./../assets/scss/grid.variables";
@import "./../assets/scss/breakpoints.variables";

#home-page {
    display: grid;
    width: 100%;
    grid-template-areas:
        '#{$gridMenuName}'
        '#{$gridHomeHeaderName}'
        '#{$gridHomeStakeName}'
        '#{$gridHomeInfoName}'
        '#{$gridHomeExplainName}'
        '#{$gridHomeHowWorksName}'
        '#{$gridHomeFAQName}'
        '#{$gridFooterName}';
}

#home-page > ##{$gridMenuName} {
    grid-area: #{$gridMenuName};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeHeaderName} {
    grid-area: #{$gridHomeHeaderName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeStakeName} {
    grid-area: #{$gridHomeStakeName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeInfoName} {
    grid-area: #{$gridHomeInfoName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeExplainName} {
    grid-area: #{$gridHomeExplainName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeHowWorksName} {
    grid-area: #{$gridHomeHowWorksName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridHomeFAQName} {
    background-color: $colorFAQPage;
    grid-area: #{$gridHomeFAQName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}

#home-page > ##{$gridFooterName} {
    grid-area: #{$gridFooterName};
    margin: #{$gridSpacingMobile};

    & > div {
        width: 100%;
        margin: auto;

        @include breakpoint(tablet) {
            width: $pageMaxWidth;
        }
    }
}