@import "./../../../assets/scss/grid.variables";
@import "./../../../assets/scss/font.variables";
@import "./../../../assets/scss/color.variables";
@import "./../../../assets/scss/breakpoints.variables";

.#{$gridHomeFAQName} {
  background-color: $colorFAQPage;

  &-header {
    @include medium-header;
    text-align: center;
    font-size: $fontLargeSizeM;

    @include breakpoint(tablet) {
      @include medium-header;
      text-align: left;
    }
  }

  &-wrapper {
    width: 100%;

    @include breakpoint(tablet) {
      display: inline-flex;
    }

    &-left {
      width: 100%;
      margin-left: 10px;

      @include breakpoint(tablet) {
        margin-left: unset;
        width: 65%;
      }
    }

    &-right {
      width: 100%;
      position: relative;

      & > div {
        margin: 50px auto;

        @include breakpoint(tablet) {
          position: absolute;
          margin: unset;
          bottom: -45px;
        }
      }

      @include breakpoint(tablet) {
        width: 31%;
      }
    }

    &-list {
      list-style-type: none;
      padding: 0;
      color: $fontColorWhite;

      li {
        margin-bottom: 35px;
      }

      &-question {
        font-size: $fontMediumSize;
        font-weight: bold;

        @include breakpoint(tablet) {
          font-size: $fontLargeSize;
        }
      }

      &-answer {
        font-size: $fontMediumSize;
        font-style: italic;
        margin-top: 5px;

        @include breakpoint(tablet) {
          font-size: $fontLargeSize;
        }
      }
    }
  }
}
